<h2 class="sr-only top-content-title">Validation Reports</h2>

<% @page_title = t('blacklight.search.title', :application_name => application_name) %>

<%- if @response.empty? %>
  <h2>Validation Reports</h2>
  <%= render "report_list" %>
<%- else %>
  <h2>Validation Report: <%= params[:report_name] %></h2>
  <div>
    <%= link_to "All Validation Reports", validation_reports_path %>
  </div>
  <%= render 'search_header' %>
  <%= render_document_index %>
<%- end %>

<%= render 'results_pagination' %>
